.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	scroll-snap-type: y mandatory;
}

.middle {
	composes: list;
	max-height: 465px;
	overflow-y: scroll;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: end;
	gap: 8px;
	scroll-snap-align: start;
}

.dragger {
	cursor: grab;
}

.custom-scroll {
	scrollbar-color: initial;
}

.custom-scroll::-webkit-scrollbar {
	width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
	background: #2f2f37;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: #8585ad;
}
